/*
 * additional styles
 *
 */

header {
    padding-bottom: 8px;
    border-bottom: 2px solid $color-gray-light;
    margin-bottom: 24px;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: $font-stack-display-typeface;
    color: $color-color-dark;

    a, a:visited {
        color: $color-color-dark;
        text-decoration: none;
        &:hover, &:active {
            color: $color-gray-light;
            text-decoration: underline;
        }
    }

    h1 {
        margin-top: 23px;
        margin-bottom: 11px;
        font-size: 24px;
        font-weight: bold;

        #site-tagline {
           font-size: 14px;
           font-weight: normal;
           color: $color-color-spot;
        }

        a, a:visited {
            color: $color-color-spot;
            &:hover, &:active {
                color: inherit;
            }
        }
    }

    #menu-top {
        float: left;
        padding-right: 2rem;

        font-size: 85%;
        color: $color-color-medium;
        a {
            color: $color-color-medium;
        }
        li.current a {
            color: $color-text;
        }
    }

    #menu-lang {
        float: left;
        /* border-left: 1px solid $color-color-medium; */
        padding-left: 1rem;
        padding-right: 0;

        font-size: 85%;
        text-transform: uppercase;
        color: $color-color-medium;
        a {
            color: $color-color-medium;
        }
        li.current a {
            text-decoration: underline solid $color-color-spot 2px;
            text-underline-offset: 4px;
        }
    }

    /* css drop-down, see also https://gist.github.com/nateevans/9958390 */
    #menu-top, #menu-main {
        li {
            position: relative;
        }

        li .menu_level_1 {
            min-width: 100%;
            display: none;
            position: absolute;
            z-index: 999;
            left: 0;
            list-style: none;
            background-color: $color-gray-ultralight;
            padding-left: 10px;
            padding-right: 5px;
            text-indent: -5px;
        }

        li:hover .menu_level_1 {
            display: block;
        }
    }

    #menu-top {
        li:hover .menu_level_1 {
            white-space: nowrap;
            a {
                color: $color-color-dark;
                &:hover {
                    color: white;
                }
            }
        }
    }

    #menu-main {
        margin-left: 0;
        margin-bottom: -5px;

        @media (min-width: $screen-md-max) {
            margin-top: 2.2rem;
        }

        & > li {
            margin-right: 2px;
            border-bottom: 6px solid transparent;
            padding: 0;
            padding-bottom: 5px;
            a {
                padding: 5px;
                padding-right: 15px;
                &:hover {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                }
            }

            > a:hover {
                color: black;
                font-weight: bold;
            }

            &.current > a {
                font-weight: bold;
            }
        }

        li:hover .menu_level_1 {
            margin-left: 0px;
        }

        /*
        #menu-item-topic {
            a {
                display: inline-block;
                background-color: $color-color-topic;
            }
            &:hover, &.current {
                z-index: 999 !important;
                border-bottom: 6px solid $color-color-topic;
            }
        }

        #menu-item-map {
            a {
                padding-right: 33px;

                display: inline-block;
                background-color: $color-color-map;
            }
            &:hover, &.current {
                z-index: 999 !important;
                border-bottom: 6px solid $color-color-map;
            }
        }

        #menu-item-chronology {
            a {
                display: inline-block;
                background-color: $color-color-chronology;
            }
            &:hover, &.current {
                z-index: 999 !important;
                border-bottom: 6px solid $color-color-chronology;
            }
        }

        #menu-item-lookup {
            > a {
            }

            a {
                display: inline-block;
                background-color: $color-color-lookup;
            }

            &:hover {
                border-bottom: 6px solid $color-color-lookup;
            }
        }
        */
    }

    #header-search-wrapper {
        @media (min-width: $screen-md-max) {
            padding-top: 2.2rem;
        }

        input[type='text'] {
            width: 10em;
            border: 2px solid $color-gray-medium;
            padding: 4px;
            padding-right: 26px;
            font-size: 85%;

            &::placeholder {
                color: $color-gray-dark !important;
            }
        }
    }
}

@media (max-width: $screen-sm-max) {
    /* language selector on small screens */
    #menu-lang {
        position: absolute;
        top: 20px;
        right: 0;
        border-left: none !important;
    }

    #site-name {
        padding-top: 15px;
    }
}

#top {
    margin-bottom: 20px;
}

#header-search-wrapper {
    margin-top: 2rem; /* for the moment, move below language selector */
    .form-control-feedback {
        margin-left: -2rem;
    }
    i.fa-search {
        font-size: 85%;
        color: $color-color-spot;
    }
}

footer {
    margin-top: 1rem;
    margin-bottom: 0;

    font-family: $font-stack-display-typeface;
    a, a:visited {
        color: white;
        &:hover {
            color: $color-color-dark;
        }
    }

    #footer-funder {
        background-color: white;
        padding-top: 0;
        padding-bottom: 16px;
    }

    #footer-social {
        background-color: $color-gray-light;
        padding-top: 12px;
        line-height: 32px;

        a.twitter {
            background: url("../img/icon/twitter.png") no-repeat;
            background-size: cover;
            height: 32px;
            width: 32px;
            display: inline-block;
        }
    }

    #footer-navigation {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        &#menu-main-footer {
            text-transform: uppercase;
        }
    }

    ul ul {
        padding-left: 20px;
    }
}

/*
.wp-content {
    margin-bottom: 4em;
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
}
*/

h1, h2, h3, h4 {
    font-weight: 600;
}

.box-header.chronology {
    background-color: $color-color-chronology;
}

.box-header.map {
    background-color: $color-color-map;
}

/* since we moved the source description before the source */

a[href="#description"]{
    display: none;
}

#image-viewer-container {
    #description {
        display: none;
    }

    .source-description {
        font-style: italic;
    }
}

/* don't show tei-license on about-pages */
body[class*="route-about"], body.route-terms {
    #license {
        display: none;
    }

    h3 {
        font-size: 1.375rem;
    }

    .article div.dta-list {
        margin-top: 0;

        .dta-list-item {
            display: inline-block;
            /* &:before { content: "-"; padding-right:7px; } */
        }
    }
}

body.route-home {
    a.genre-underlined {
        font-weight: bold;
        text-decoration: none;

        display: block;
        border-bottom: 4px solid;

        &.genre-non-fictual {
            border-bottom-color: $color-genre-non-fictual;
            &:after {
                color: $color-genre-non-fictual;
            }
        }
    }

    #home-jumbotron {
        background-color: $color-gray-ultralight;

        a, a:visited {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        div.genre-arrow {
            margin-top: 8px;
            border-bottom: 4px solid;

            &:after {
                font-size: 120%;
                content: '\2794';
                position: absolute;
                right: 1.2rem;
                bottom: 0;
            }

            &.genre-non-fictual {
                border-bottom-color: $color-genre-non-fictual;
                &:after {
                    color: $color-genre-non-fictual;
                }
            }
        }
    }
}

body.route-genre-index, body.route-topic-index  {
    #keyword-jumbotron {
        background-color: $color-gray-ultralight;
    }

    .accordion {
        .card {
            border-radius: 0;
            border-left: none;
            border-right: none;
            border-top: 1px solid $color-gray-light;

            &.genre-non-fictual > .card-header {
                border-bottom-color: $color-genre-non-fictual;
            }
        }

        .card-header {
            background-color: $color-gray-ultralight;
            padding-left: 0;
            padding-right: 0;
            border-bottom: 4px solid $color-color-spot;

            button {
                font-size: 100%;
                padding: 0;
                font-weight: bold;
                color: $color-link !important;
            }
        }

        .card-body {
            padding-left: 0;
            padding-right: 0;
            background-color: $color-gray-ultralight;

            .article {
                background-color: white;
            }
        }
    }
}

body.route-article {
    .source-description .dta-p {
        font-style: italic;
    }
}

h3#citation {
    margin-top: 30px;
}
