$color-color-dark: #333;
$color-color-medium: #9B9B9B;

$color-color-topic: #c0c0c0;
$color-color-map: #c0c0c0;
$color-color-chronology: #ebebeb;
$color-color-lookup: #ebebeb;

$color-gray-dark: #8e8e8e;
$color-gray-medium: #c0c0c0;
$color-gray-light: #e0dfe0;
$color-gray-ultralight: #ebebeb;

$color-color-spot: #286dea;

$color-text: #333;
$color-link: #333;
$color-hover: #333;

$color-background: #fff;
$color-background-footer: #286dea;

$color-genre-fictional: #926da5;
$color-genre-non-fictional: #cba237;
