/*
 * Here you can import web-fonts and define the scss variables
 * used defining text fonts
 *
 * TODO: Switch to locally hosted fonts
 */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i&subset=latin-ext');

$font-stack-display-typeface: 'Roboto Condensed', Arial, "Arial Unicode MS", sans-serif;
$font-stack-sans: 'Roboto Condensed', Arial, "Arial Unicode MS", sans-serif;

$font-stack-book-typeface: 'Roboto Condensed', Arial, "Arial Unicode MS", sans-serif;
$font-stack-serif: 'Roboto Condensed', Arial, "Arial Unicode MS", sans-serif;
